body {
  height: 100vh;
  background-image: linear-gradient(120deg, #f3e8f6, #93749c);
  font-family: "Roboto", sans-serif;
  margin: 0px;
  padding: 0px;
  font-size: 12px; }

#container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.box {
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px; }
  @media (min-width: 768px) {
    .box {
      font-size: 1.5em;
      padding: 60px; } }
  .box .heading {
    position: relative; }
    .box .heading h1 {
      color: black;
      font-size: 1.5rem; }
      @media (min-width: 768px) {
        .box .heading h1 {
          font-size: 2.5rem; } }
  .box .lines {
    min-width: 90%;
    height: 7px;
    position: relative; }
    @media (min-width: 768px) {
      .box .lines {
        min-width: 110%; } }
    @media (min-width: 992px) {
      .box .lines {
        height: 14px;
        margin-bottom: 14px; } }
  .box .lines::after,
  .box .lines::before {
    content: "";
    position: absolute;
    margin: auto;
    height: 0.7px;
    background-color: black;
    width: 47%;
    top: 47%;
    animation: line 1.2s ease-in; }
    @media (min-width: 768px) {
      .box .lines::after,
      .box .lines::before {
        height: 2px; } }
  .box .lines::after {
    left: 0; }
  .box .lines::before {
    right: 0; }
  .box .diamond {
    height: 5px;
    width: 5px;
    border: 0.7px solid black;
    margin: auto;
    transform: rotate(45deg); }
    @media (min-width: 768px) {
      .box .diamond {
        height: 6px;
        width: 6px;
        border: 2px solid black; } }
    @media (min-width: 992px) {
      .box .diamond {
        height: 10px;
        width: 10px; } }

@keyframes line {
  0% {
    transform: translateX(-120%);
    opacity: 0; }
  50% {
    transform: translateX(0%);
    opacity: 1; }
  0% {
    left: 53%; } }
  .box .taskdiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .box .taskdiv #form {
      display: flex;
      justify-content: center;
      width: 90%;
      margin-top: 10px; }
      @media (min-width: 768px) {
        .box .taskdiv #form {
          width: 100%; } }
      .box .taskdiv #form .todoinput {
        border-top-style: hidden;
        border-right-style: hidden;
        border-left-style: hidden;
        border-bottom-style: solid;
        min-width: 50%; }
        @media (min-width: 992px) {
          .box .taskdiv #form .todoinput {
            width: 100%; } }
      .box .taskdiv #form .todoinput:focus {
        outline: none; }
      .box .taskdiv #form .add,
      .box .taskdiv #form #sort {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        background-color: white;
        font-size: 0.8rem;
        border-radius: 2px;
        height: 10px;
        width: 10px;
        margin-left: 5px; }
        @media (min-width: 768px) {
          .box .taskdiv #form .add,
          .box .taskdiv #form #sort {
            font-size: 1.1rem;
            width: 20px;
            height: 20px; } }
      .box .taskdiv #form .add:hover,
      .box .taskdiv #form #sort:hover {
        cursor: pointer;
        background-image: linear-gradient(120deg, #f3e8f6, #93749c);
        font-style: italic; }
    .box .taskdiv ul {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
      padding-inline-start: 0;
      min-height: 50%;
      min-width: 70%; }
      @media (min-width: 992px) {
        .box .taskdiv ul {
          min-width: 90%; } }
    .box .taskdiv li {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      min-width: 80%;
      max-width: 80%;
      flex-basis: 100%;
      flex: 1;
      background-image: linear-gradient(120deg, #f3e8f6, #93749c);
      color: black;
      list-style: none;
      border-radius: 5px;
      padding: 10px;
      font-size: 0.7rem; }
      @media (min-width: 768px) {
        .box .taskdiv li {
          font-size: 1em;
          padding: 20px;
          min-width: 90%; } }
    .box .taskdiv span {
      width: 70%; }
    .box .taskdiv .buttons {
      display: flex;
      justify-content: flex-end;
      gap: 5px;
      width: 30%; }
      .box .taskdiv .buttons .checkbtn,
      .box .taskdiv .buttons .deletebtn {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 7px;
        background: rgba(184, 169, 184, 0.842);
        color: black;
        border: none;
        border-radius: 2px;
        font-size: 0.6rem;
        max-height: 0.5rem;
        max-width: 0.7rem; }
        @media (min-width: 768px) {
          .box .taskdiv .buttons .checkbtn,
          .box .taskdiv .buttons .deletebtn {
            min-height: 1.3rem;
            min-width: 1.3rem;
            font-size: 0.7rem; } }
      .box .taskdiv .buttons .checkbtn:hover,
      .box .taskdiv .buttons .deletebtn:hover {
        cursor: pointer;
        background-color: white;
        border: none; }
    .box .taskdiv .completed {
      opacity: 0.5; }
    .box .taskdiv .completed span {
      text-decoration: line-through; }
