html,
body {
  height: 100vh;
  margin: 0 auto; }

body {
  display: flex;
  font-family: "Roboto", sans-serif; }

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #f3e8f6; }
  #container .box {
    height: 650px;
    width: 50%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    #container .box .heading {
      position: relative; }
      #container .box .heading h1 {
        color: black; }
    #container .box hr {
      width: 85%;
      border-top: 1px solid black;
      margin-bottom: 20px; }
    #container .box .taskdiv ul {
      text-align: center; }
    #container .box .taskdiv li {
      background-color: #f3e8f6;
      list-style: none;
      margin-bottom: 20px;
      border-radius: 5px;
      width: 80%;
      padding: 20px; }
    #container .box .buttons .buttonuncheck {
      margin-left: 50px; }
    #container .box .buttons .buttoncheck,
    #container .box .buttons .buttonuncheck {
      background-color: #c4c4c452;
      border: none;
      border-radius: 5px;
      height: 25px;
      width: 30px; }
