html,
body {
  height: 100vh;
  margin: 0 auto;
}
body {
  display: flex;
  font-family: "Roboto", sans-serif;
}
#container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #f3e8f6;
  .box {
    height: 650px;
    width: 60%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .heading {
      position: relative;
      h1 {
        color: black;
      }
    }
    hr {
      width: 85%;
      border-top: 1px solid black;
      margin-bottom: 20px;
    }
    .taskdiv {
      display: flex;
      width: 40rem;
      ul {
        text-align: center;
        width: 87%;
      }
      li {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #f3e8f6;
        list-style: none;
        margin-bottom: 20px;
        border-radius: 5px;
        padding: 20px;
      }
      .buttons {
        display: flex;
        flex-direction: row;
        gap: 50px;
        .buttoncheck,
        .buttonuncheck {
          background-color: #c4c4c452;
          border: 1px solid black;
          border-radius: 5px;
          height: 25px;
          width: 30px;
        }
        .buttoncheck:hover,
        .buttonuncheck:hover {
          cursor: pointer;
          background-color: #d8a2e7;
        }
      }
    }
  }
}
