@import "mixins";

body {
  height: 100vh;
  background-image: linear-gradient(120deg, $lilac, $darklilac);
  font-family: "Roboto", sans-serif;
  margin: 0px;
  padding: 0px;
  font-size: 12px;
}
#container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  height: 500px;
  width: 80%;
  background-color: $white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include tablet {
    height: 650px;
    width: 60%;
    font-size: 1.5em;
  }
  @include desktop {
    max-width: 60%;
  }
  .heading {
    position: relative;
    h1 {
      color: $black;
      font-size: 1rem;
      @include tablet {
        font-size: 2.5rem;
      }
    }
  }
  .lines {
    width: 70%;
    height: 7px;
    position: relative;
    @include desktop {
      height: 15px;
      margin-bottom: 15px;
    }
  }
  .lines::after,
  .lines::before {
    content: "";
    position: absolute;
    margin: auto;
    height: 0.7px;
    background-color: $black;
    width: 47%;
    top: 47%;
    animation: line 1.2s ease-in;
    @include desktop {
      height: 2px;
    }
  }
  .lines::after {
    left: 0;
  }
  .lines::before {
    right: 0;
  }
  .diamond {
    height: 5px;
    width: 5px;
    border: 0.7px solid $black;
    margin: auto;
    transform: rotate(45deg);
    @include desktop {
      height: 10px;
      width: 10px;
      border: 2px solid $black;
    }
  }
  @keyframes line {
    0% {
      transform: translateX(-120%);
      opacity: 0;
    }
    50% {
      transform: translateX(0%);
      opacity: 1;
    }
    0% {
      left: 53%;
    }
  }
  .taskdiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    #form {
      display: flex;
      justify-content: center;
      width: 100%;
      margin-top: 10px;
      .todoinput {
        border-top-style: hidden;
        border-right-style: hidden;
        border-left-style: hidden;
        border-bottom-style: solid;
        width: 70%;
        @include desktop {
          width: 100%;
        }
      }
      .todoinput:focus {
        outline: none;
      }
      .add {
        border: none;
        background-color: $white;
        font-size: 0.6rem;
        border-radius: 5px;
        height: 15px;
        @include tablet {
          font-size: 1rem;
          height: 20px;
        }
      }
      .add:hover {
        cursor: pointer;
        background-image: linear-gradient(120deg, $lilac, $darklilac);
        font-style: italic;
      }
    }
    ul {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
      padding-inline-start: 0;
      min-height: 50%;
      min-width: 70%;
      transition: all 0.5s ease;
      @include desktop {
        min-width: 90%;
      }
    }
    li {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex: 1;
      gap: 20px;
      background-image: linear-gradient(120deg, $lilac, $darklilac);
      list-style: none;
      border-radius: 5px;
      padding: 10px;
      width: 70%;
      font-size: 0.6em;
      @include tablet {
        font-size: 1em;
        padding: 20px;
      }
      @include desktop {
        width: 90%;
      }
    }
    .buttons {
      display: flex;
      justify-content: space-between;
      gap: 5px;
      .checkbtn,
      .deletebtn {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        background: $grey;
        color: $black;
        border: none;
        font-size: 0.3rem;
        max-height: 0.5rem;
        max-width: 0.7rem;
        @include tablet {
          min-height: 1.3rem;
          min-width: 1.3rem;
          font-size: 0.7rem;
        }
      }
      .checkbtn:hover,
      .deletebtn:hover {
        cursor: pointer;
        background-color: $white;
        border: none;
      }
    }
    .compleated {
      text-decoration: line-through;
      opacity: 0;
    }
  }
}
